$font-family-base: "Roboto", Helvetica, Arial, sans-serif;

$border-radius-base: 3px;
$border-radius-lg: 6px;

$space-1:  4px;
$space-2:  6px;
$space-3:  8px;
$space-4:  12px;
$space-5:  16px;
$space-6:  20px;
$space-7:  24px;
$space-8:  28px;
$space-9:  32px;
$space-10: 36px;

$font-xxs:  10px;
$font-xs:   12px;
$font-sm:   14px;
$font-base: 16px;
$font-md:   18px;
$font-lg:   20px;
$font-xl:   24px;
$font-2xl:  28px;
$font-3xl:  36px;
$font-4xl:  48px;

$color-brand-primary: #00B9B5;
$color-brand-secondary: #691F74;
$color-brand-gradient: linear-gradient(270deg, #941DA4 0%, #13D8D4 100%);

$color-grey-0:   #F9FAFB;
$color-grey-100: #F3F4F6;
$color-grey-200: #E5E7EB;
$color-grey-300: #D1D5DB;
$color-grey-400: #9CA3AF;
$color-grey-500: #6B7280;
$color-grey-600: #4B5563;
$color-grey-700: #374151;
$color-grey-800: #1F2937;
$color-grey-900: #111827;

$color-red-0:   #FEF2F2;
$color-red-100: #FEE2E2;
$color-red-200: #FECACA;
$color-red-300: #FCA5A5;
$color-red-400: #F87171;
$color-red-500: #EF4444;
$color-red-600: #DC2626;
$color-red-700: #B91C1C;
$color-red-800: #991B1B;
$color-red-900: #7F1D1D;

$color-blue-0:   #EFF6FF;
$color-blue-100: #DBEAFE;
$color-blue-200: #BFDBFE;
$color-blue-300: #93C5FD;
$color-blue-400: #60A5FA;
$color-blue-500: #3B82F6;
$color-blue-600: #2563EB;
$color-blue-700: #1D4ED8;
$color-blue-800: #1E40AF;
$color-blue-900: #1E3A8A;

$color-teal-0:   #EDFDFC;
$color-teal-100: #D0FBFA;
$color-teal-200: #96F7F4;
$color-teal-300: #4FEEE8;
$color-teal-400: #13D8D4;
$color-teal-500: $color-brand-primary;
$color-teal-600: #009E9B;
$color-teal-700: #057A78;
$color-teal-800: #096765;
$color-teal-900: #0C504E;
